# install4j response file for Confluence {{ confluence_version }}
app.confHome={{ confluence_data_dir }}
app.install.service$Boolean=true
backupConfluence$Boolean=false
existingInstallationDir={{ confluence_base_dir }}
launch.application$Boolean=false
portChoice=default
sys.adminRights$Boolean=true
sys.confirmedUpdateInstallationString=false
sys.installationDir={{ confluence_base_dir }}
sys.languageId=en
